*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

header{
    padding-top: 10px;
text-align: center;
background-color:#45543d;
color: white;
height: 100px;
}

main{
padding-top: 20px;
width: 900px;
height: 650px;
border: 0.2px solid rgba(107, 107, 107, 0.452);
border-radius: 5px;
margin: -30px auto;
background-color: white;
box-shadow: 1px 3px 3px rgb(117, 117, 117);
}


.dados-form{
    display: flex;
    justify-content: space-around;
}

label{
font-weight: bolder;
font-size: 14px;

}
.lado-esquerdo div,
.lado-direito div{
   margin-bottom: 20px;  
}

.form-texto{
border-color: rgba(160, 160, 160, 0.301);
border-radius: 5px;
background-color: #e8efe4;
width: 100%;
padding: 10px;
}

#bt-envia{
    text-align: center;
    padding-top: 40px;
}

#botoes{

background-color: #45543d;
color: white;
border-radius: 15px;
padding: 15px 30px;
cursor: pointer;
border: none;
opacity: 95%;
margin: 0 60px;
}

#botoes:hover{
opacity: 100%;
font-weight: inherit;
box-shadow: 2px 3px 3px rgb(117, 117, 117);
}

footer{
text-align: center;

}